# Logs
*.log

# Dependencies
node_modules/
vendor/

# Build output
dist/
build/

# Environment variables
.env
.env.*
!.env.example
.env.docker

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo
sql/*.sql
